asgiref==3.5.0
astroid==2.4.2
attrs==20.3.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
colorama==0.4.3
cryptography==36.0.1
dj-database-url==0.5.0
Django==4.0.2
django-heroku==0.3.1
gitdb==4.0.7
gitdb2==4.0.2
GitPython==3.0.7
gunicorn==20.1.0
idna==3.3
isort==5.4.2
jellyfish==0.8.9
lark-parser==0.12.0
lazy-object-proxy==1.4.3
lib50==3.0.3
Markdown==3.3.4
markdown2==2.4.1
mccabe==0.6.1
pexpect==4.8.0
psycopg2==2.9.3
ptyprocess==0.7.0
pycparser==2.21
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
pytz==2020.1
PyYAML==5.4.1
requests==2.26.0
required==0.4.0
six==1.15.0
smmap==4.0.0
sqlparse==0.3.1
submit50==3.1.0
termcolor==1.1.0
toml==0.10.1
typed-ast==1.4.1
typing==3.7.4.3
typing-extensions==3.10.0.2
tzdata==2021.5
urllib3==1.26.7
waitress==2.0.0
whitenoise==6.0.0
wrapt==1.12.1
